#footerContainer img {
  width: 100%;
  position: relative;
  display: inline-flex;
  align-items: flex-end;
}

.divImageContainer {
  margin-left: 3%;
}

@keyframes preeda-slide-backwards {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}
#footerContainer .imageContanier {
  display: flex;
  flex-direction: row;
  animation-duration: 10s;
  animation-name: preeda-slide-backwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  float: right;
}

#footerContainer {
  max-width: 200%;
  margin-bottom: 10px;
  overflow-x: hidden;
  flex-direction: row;
  display: flex;
}

@media (min-width: 200px) {
  #footerContainer .imageContanier {
    min-width: 300%;
  }
}

@media (min-width: 1700px) {
  #footerContainer .imageContanier {
    min-width: 100%;
  }
}

@media (min-width: 960px) {
  #footerContainer .imageContanier {
    min-width: 100%;
  }
}
