#mainBodyContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

@media (min-width: 300px) {
  #mainBodyContainer {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #mainBodyContainer .addressImg {
    width: 28em;
  }
}

@media (min-width: 1700px) {
  #mainBodyContainer .addressImg {
    width: 45em;
  }
}

@media (min-width: 960px) {
  #mainBodyContainer {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  #mainBodyContainer .addressImg {
    width: 45em;
  }
}
